<nav class="navbar menudiv">
  <div class="navbar-logo menuitem">
    <li class=""><a href="/">Profile</a></li>
   </div>
    <div class="navbar-logo menuitem">
      
      <li class=""><a href="/" (click)="opensub(0)">MainHome </a></li>
      <div class="submenu" [style.display]="navSub[0]">
          <div class="navbar-logo menuitem">
            <li class=""><a href="/">subHome</a></li>
          </div>
          <div class="navbar-logo menuitem">
            <li class=""><a href="/">subHome2</a></li>
          </div>
          <div class="navbar-logo menuitem">
            <li class=""><a href="/">subHome3</a></li>
          </div>
      </div>
    </div>

    <div class="navbar-logo menuitem">
     <li class=""><a href="/" (click)="opensub(1)">Home</a></li>
            <div class="submenu" [style.display]="navSub[1]">
              <div class="navbar-logo menuitem">
                <li class=""><a  href="/html-form">subHome</a></li>
              </div>
              <div class="navbar-logo menuitem">
                <li class=""><a href="/">subHome2</a></li>
              </div>
              <div class="navbar-logo menuitem">
                <li class=""><a href="/">subHome3</a></li>
              </div>
          </div>
    </div>

    <div class="navbar-logo menuitem">
     <li class=""><a href="/">Home</a></li>
    </div>

    <div class="navbar-logo menuitem">
     <li class=""><a href="/">Home</a></li>
    </div>

   
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </nav>
