<nav class="navbar menudiv">
    <div class="navbar-logo menuitem">
      <li class=""><a routerLink="/" (click)="opensub(0)">MainHome </a></li>
      <div class="submenu" [style.display]="navSub[0]">
          <div class="navbar-logo menuitem">
            <li class=""><a routerLink="/">subHome</a></li>
          </div>
          <div class="navbar-logo menuitem">
            <li class=""><a routerLink="/">subHome2</a></li>
          </div>
          <div class="navbar-logo menuitem">
            <li class=""><a routerLink="/">subHome3</a></li>
          </div>
      </div>
    </div>

    <div class="navbar-logo menuitem">
     <li class=""><a routerLink="/" (click)="opensub(1)">Home</a></li>
            <div class="submenu" [style.display]="navSub[1]">
              <div class="navbar-logo menuitem">
                <li class=""><a routerLink="/">subHome</a></li>
              </div>
              <div class="navbar-logo menuitem">
                <li class=""><a routerLink="/">subHome2</a></li>
              </div>
              <div class="navbar-logo menuitem">
                <li class=""><a routerLink="/">subHome3</a></li>
              </div>
          </div>
    </div>

    <div class="navbar-logo menuitem">
     <li class=""><a routerLink="/">Home</a></li>
    </div>

    <div class="navbar-logo menuitem">
     <li class=""><a routerLink="/">Home</a></li>
    </div>

   
    <div class="navbar-actions">
      <!-- Add login/logout buttons or user-related actions here -->
    </div>
  </nav>
<app-home></app-home>