/* You can add global styles to this file, and also import other style files */
body {
    background-color: black !important; /* Your desired background color */
    color: white !important;;
}
p{
    color: white !important;;
}
h1{
    color: white !important; /* Your desired text color */
}
h2{
    color: white !important;;
}
h3{
    color: white !important;;
}
h4{
    color: white !important;;
}
h5{
    color: white !important;;
}
h6{
    color: white !important;;
}
a{
    color: black !important;;
}
