/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(81, 88, 91) !important; /* Your desired background color */
    color: white !important;
}

a{
    color: black !important;;
}
nav{
    background-color: rgb(32, 35, 37) !important;
}
nav a{
    color: white !important;
}

