<div class="center container">
    <h1>Resume</h1>

    <div class="row">
        <h1>Personal Information</h1>
        <div>
            <img id="profilepic" src="https://media.licdn.com/dms/image/D4D35AQES96Y8cYlwCg/profile-framedphoto-shrink_200_200/0/1694104432227?e=1715853600&v=beta&t=6seJDWsnW462Ccy4kLYSR3Ua6UZDWRKU4YZKwKrTnD8" alt="Profile Picture">
        </div>
        <div>
            <p>Name: Pedro Pinto</p>
            <p>Email: pedro.ramos9&#64;hotmail.com</p>
            <p>Phone: 968495576</p>
        </div>
    </div>

    
    <div>
        <h1>Experience</h1>
        <p><b>Company: BLASTING Energy</b></p>
        <p>Location: Lisboa, Portugal</p>
        <p>Duration: 03/2023 - 06/2023</p>
        <p><b>Position: Web Development Internship</b></p>
        <ul>
            <li class="description">I transitioned the <b></b> website from WordPress to Angular to expand my knowledge of a cutting-edge technology.</li>
        </ul>
        <p>Duration: 03/2020 - 08/2020</p>
        <p><b>Position: Full Stack Engineer Internship</b></p>
        <ul>
            <li class="description">Increased performance of web-based applications by 25% in 3 months, resulting in improved user experience.</li>
            <li class="description">Edited videos for the <b></b> where it helped increase the views on the page.</li>
            <li class="description">Updated the Company logo Animation.</li>
            <li class="description">Creation of 3D models to demonstrate in videos.</li>
        </ul>
        <p><b>Company: Partilha Fundamental LDA</b></p>
        <p>Location: Lisboa e Região, Portugal</p>
        <p>Duration: 05/2018 - 07/2018</p>
        <p><b>Position: Internship</b></p>
        <ul>
            <li class="description">I made a flyer using Photoshop to help improve sales.</li>
            <li class="description">I did flash animations to tell a story about the company.</li>
            <li class="description">I made a mobile app for the company to answer a quiz about it.</li>
        </ul>
    </div>

    <div>
        <h1>Education</h1>
        <p><b>Degree: Bachelor's in Computer Science</b></p>
        <p>University: ISTEC</p>
        <p>Duration: 09/2020 - 08/2023</p>
        <p><b>Degree: CTESP in Multimedia Product Development</b></p>
        <p>University: ISTEC</p>
        <p>GPA: 15|20</p>
        <p>Duration: 09/2018 - 08/2020</p>
        <p><b>Degree: Level 4 in Technician in Management and Programming of Computer Systems</b></p>
        <p>University: Professional School - Gustave Eiffel</p>
        <p>GPA: 15|20</p>
        <p>Duration: 09/2015 - 07/2018</p>
    </div>
    <h1>Skills</h1>
    <div class="row">
        <div class="col">
            <ul class="skillsL">
                <li>FullStack</li>
                <li>Frontend</li>
                <li>Adobe Illustrator</li>
                <li>Microsoft Windows</li>
                <li>Linux</li>
                <li>.NET Core</li>
                <li>Angular (Framework)</li>
                <li>HTML5</li>
                <li>Django</li>
                <li>.NET Framework</li>
                <li>Inglês</li>
                <li>Python</li>
                <li>JSON</li>
                <li>Data Science</li>
                <li>Adobe Premiere Pro</li>
                <li>Backend</li>
                <li>API REST</li>
            
            </ul>
        </div>
        <div class="col">
            <ul class="skillsR">
                               
                <li>C++</li>
                <li>C#</li>
                <li>Swift</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>React</li>
                <li>SQL</li>
                <li>Rest</li>
                <li>TypeScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>.NET</li>
                <li>Docker</li>
                <li>Git</li>
                <li>Azure</li>
            </ul>
            
        </div>
    </div>
</div>
